:root {
    --clr-main: #05071F;
    --clr-secondary: #ffd35c;
    --clr-greyed: #3d3d3d;
    --gradient: linear-gradient(to right, #6b1ad3 0%, #ca7e7e 45%);
    --ff-main: 'Poppins', sans-serif;
}

body {
    font-family: var(--ff-main);
    background: var(--clr-main);
    color: white;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.fullheight {
    height: 100vh;
    background: var(--clr-main);
}

.timeline {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    position: relative;
    padding-bottom: 50px;
}

.timeline-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px;
    scroll-snap-align: start;
}

.timeline-progress {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 3px;
    background: #3d3d3d;
    transform: translateY(-50%);
    z-index: -2;
}

.timeline-progress-bar {
    position: absolute;
    height: 3px;
    background: var(--gradient);
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    transition: width 0.3s ease-in-out;
    z-index: -1;
}

.timeline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--clr-greyed);
    padding: 10rem;
    text-align: center;
    white-space: normal;
    scroll-snap-align: start;
    min-width: 300px;
}

.timeline-date-text {
    font-size: 24px;
    margin-bottom: 10px;
}

.timeline-circle {
    width: 15px;
    height: 15px;
    background: var(--clr-greyed);
    border-radius: 50%;
    margin: 0 10px;
}

.timeline-text p {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 500;
    transform: translateX(20px);
    opacity: 0;
    transition: all 0.7s ease-in-out;
}

.timeline-item.reveal .timeline-circle {
    background: #00e6ff;
}

.timeline-item.active .timeline-date-text,
.timeline-item.active .timeline-text p {
    transform: translateX(0);
    opacity: 1;
    color: aliceblue;
}

.timeline-item.active .timeline-text p {
    transition-delay: 0.1s;
    color: aliceblue;
}
