/* Styling the entire privacy section */
.privacy-section {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin: 20px auto;
    width: 80%;
    margin-top: 10rem;
}

.privacy-section> h1{
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 2rem;
}

/* Center-align headings (h1, h2, h3) */
.privacy-h1,
.privacy-h2,
.privacy-h3 {
    margin: 0;
    /* Reset margin for headings */
    font-size: 1.5rem;
}

/* Styling for paragraphs and headings */
.privacy-p,
.privacy-h1,
.privacy-h2,
.privacy-h3 {
    text-align: left;
    /* Align content to the left */
}

.privacy-h1,
.privacy-h2,
.privacy-h3 {
    margin-top: 2rem;
    /* Align content to the left */
}


/* Styling for unordered list */
.privacy-ul {
    margin: 10px 0;
    padding-left: 20px;
}

/* Styling for list items */
.privacy-li {
    list-style: disc;
    margin-left: 20px;
    color: #000;
}

/* Make the entire section responsive */
@media (max-width: 768px) {
    .privacy-section {
        width: 90%;
    }
}