* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;  
}


:root{
    --color-primary:#FF3131;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #c70c0c;
    --color-danger-variant: rgba(247,88,66,0.4);
    --color-white: #fff;
    --color-light: rgba(255,255,255,0.7);
    --color-black: #000;
    --color-bg: white;
    --color-bg1: #FF3131;
    --color-bg2: #f4f4f4;

    --container-width-lg:80%;
    --container-width-md:90%;
    --container-width-sm:94%;

    --transition:all 400ms ease;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height:1.7;
    color: var(--color-white);
    background-color: var(--color-bg);
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

section{
    padding: 6rem 0;
}

section h2{
    text-align: center;
    margin-bottom: 4rem;
}

h1,h2,h3,h4,h5{
    line-height: 1.2;
}

h1{
    font-size: 2.4rem;
    color:#000;
}

h2{
    font-size: 2rem;
   color: #ff3131;
}

h3{
    font-size: 1.6rem;
    color: #000;
}

h4{
    font-size: 1.3rem;
    color: #000;
}

a{
    color: var(--color-black);
}
p{
    color: #000;
}

 
  img {
      width: 100%;
     /* display: block; */
      object-fit: cover;

  }
 






.btn{
    display: inline-block;
    background-color: var(--color-white);
    color: var(--color-primary);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 600;
    transition: var(--transition);
}

.btn:hover{
    background: var(--color-primary);
    color: var(--color-bg);
    border-color: var(--color-bg);
}

.btn-primary{
    background-color: var(--color-primary);
    color: var(--color-white);
}
.btn-primary:hover{
    background: var(--color-white);
        color: var(--color-primary);
        border-color: var(--color-primary);
}


/*Nav bar*/
nav{
   background: var(--color-white); 
   width: 100vw;
   height: 8rem;
   position: fixed;
   top: 0;
   z-index: 11;
}

.logo{
height: 6rem;
width: 18rem;
}

.window-scroll{
    background:var(--color-white);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.3);
}


.nav__container{
    height:8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button{
    display: none;
}

.nav__menu{
    display: flex;
    align-items: center;
    gap:4rem
}






/* Reset default list styles for the nav menu */
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Style for the navigation links */
nav .nav__menu li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color:var(--color-primary);
    font-weight: bold;
    /* Default text color */
    position: relative;
    /* Set the position to relative for the underline effect */
}

/* Add the white stroke underline on hover */
nav .nav__menu li a:hover {
    color:#ff3131;

}


nav .nav__menu li a:hover::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color:#ff3131; 
}

header{
    position: relative;
    top:10rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;

}

.header__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    gap:5rem;
    height: 100%;
}

.header__left p {
    margin: 1rem 0 2.4rem;
}


/* * Services* */

.service{
    height: 3rem;
    width: 3rem;
}

.categories{
    background:var(--color-bg1);
    height: 29rem;
    margin-top: 10rem;
}

.categories h1{
    line-height: 1;
    margin-bottom: 3rem;
    color: var(--color-bg);
}

.categories__container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;  
}




.categories__left{
    margin-right: 4rem;
}

.categories__left p {
 margin: 1rem 0 3rem;
 color: var(--color-bg);
}


.categories__right{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.2rem;
}


.category{
    background:var(--color-bg2);
    color:var(--color-primary);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);

}


.category:hover{
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.3) ;
    z-index: 1;
}



.category img{
    background: var(--color-primary);
    padding: 0.6rem;
    border-radius: 0.9rem;

}

.category p{
    color: var(--color-black);
}

.category h5{
    margin: 2rem 0 1rem;
    color: var(--color-black);
}

.category p{
    font-size: 0.85rem;
}



/*FAQ'S*/

.faqs {
    margin-top: 30rem;
    background: var(--color-bg);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faqs__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.faq {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background-color: var(--color-bg);
    cursor: pointer;
    border: solid 1px var(--color-primary);
    transition: border-color 0.3s ease;
    /* Added transition for border color */
}

.faq:hover {
    border-color: var(--color-secondary);
    /* Change to your desired hover border color */
}

.faq h2 {
    color: var(--color-primary);
}

.faq h4 {
    font-size: 1rem;
    line-height: 2.2;
    color: black;
}

.faq__icon {
    align-self: flex-start;
    font-size: 1.2rem;
    color: var(--color-bg1);
}

.faq p {
    margin-top: 0.8rem;
    display: none;
    font-size: small;
    color: black;
}

.faq.open p {
    display: block;
}


/*Testimonials*/

.testimonials__container{

    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
}

.testimonial{
    padding-top: 2rem;
}

.avatar{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 5px solid var(--color-bg1);
}

.testimonial__info{
    text-align: center;
    color: var(--color-bg1);
}

.testimonial__body{
    background-color: var(--color-primary);
        padding: 2rem;
        margin-top: 3rem;
        position: relative;

      
}

.testimonial__body p{
color: var(--color-bg);
font-style: italic;
}

.testimonial__body::before{
    content: "";
    display: block;
    background:linear-gradient(135deg,transparent,
    var(--color-primary),
    var(--color-primary),
    var(--color-primary));
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 50%;
    top:-1.5rem;
    transform: rotate(45deg);
}



/* Footer */

footer{
        
background: var(--color-bg);
padding-top: 5rem;
font-size: 0.9rem;
border-top: 1px solid var(--color-bg2);
font-weight: 500;
border-top: 1px solid var(--color-primary);
}

.footer__container{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5rem;
}

.footer__logo{
    width: 15rem;
    height: 5.5rem;
}

.footer__container>div h4{
    margin-bottom: 1.2rem;
}

.footer__1 p{
    margin-top: -13px;
   margin-left: 37px;
    color: var(--color-black);
   
}
.footer__2 h4 {
    color: var(--color-primary);

}
.footer__2 a {
    color: var(--color-black);

}

.footer__3 h4 {
    color: var(--color-primary);

}
.footer__3 a {
    color: var(--color-black);

}
.footer__4 h4 {
    color: var(--color-primary);

}
.footer__4 p {
    color: var(--color-black);

}

footer ul li {
    margin-bottom: 0.7rem;
    color: var(--color-primary);
}

footer ul li a:hover{
    text-decoration: underline var(--color-primary);
    color: #ff3131;
  
}

.footer__socials{
    display: flex;
    gap:3rem;
    font-size: 1.2rem;
    margin-top: 2rem;
    color: var(--color-primary);
}

.footer__socials i{
    color: var(--color-primary);
}





.footer__copyright{
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top:1px solid var(--color-primary);
    color: var(--color-primary);
}



/*Media queries (Tablets*/

 @media screen and (max-width: 1024px) {
  
    
    .container {
    width: var(--container-width-md);
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.4rem;;
    }

    h4 {
        font-size: 1.2rem;
    }


    /*Navbar*/

    nav button {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color
    :#ff3131;
    cursor: pointer;
    }

    nav button#close-menu-btn{
        display: none;
    }

    .nav__menu{
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }

    .nav__menu li{
       width: 100%;
       height: 5.8rem; 
       animation: animateNavItems 400ms linear forwards;
       transform-origin: top right;
       opacity: 0;
    }

    .nav__menu li:nth-child(2){
        animation-delay: 200ms;
    }
         .nav__menu li:nth-child(3) {
             animation-delay: 400ms;
         }
                  .nav__menu li:nth-child(4) {
                      animation-delay: 600ms;
                  }

    @keyframes animateNavItems {
        0%{
        transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }
        100%{
        transform: rotateZ(0) rotateX(0) scale(1);
        opacity: 1;
        }
    }

    .nav__menu li a{
        background: var(--color-white);
        box-shadow: -4rem 6rem 10rem rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }
    .nav__menu li a:hover{
     background: var(--color-bg2) ;
     color:var(--color-white);
    }

    /*Header*/
    header{
     height: 52vh;
     margin-bottom: 4rem;   
    }

    .header__container{
        gap: 0;
        padding-bottom: 3rem;
    }

    /*Categories*/
    .categories{
        height: auto;
    }
    .categories__container{
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .categories__left{
        margin-right: 0;
    }

    /*FAQ*/

    .faqs__container{
       grid-template-columns: 1fr; 
    }

    .faq {
        padding: 1.5rem;
    }

    /*Footer*/
    .footer__container{
        grid-template-columns: 1fr 1fr;

    }
 }


 /*Mobile view*/

 @media screen and (max-width:
 600px) {

    .container{
        width: var(--container-width-sm);
    }

    /*Navbar*/
    .nav__menu{
        right: 3%;
    }

    /*Header*/
header{
    height: 100vh;
}

.header__container{
    grid-template-columns:1fr ;
    text-align:center ;
    margin-top: 5rem;

}
.header__left p{
    margin-bottom: 1.3rem;
}

/*Category*/
.categories__right{
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
}

.category{
    padding: 1rem;
    border-radius: 1rem;
}

.category__icon{
    margin-top: 4px;
    display:inline-block ;
}
/*Testimonials*/

.testimonial__body{
    padding: 1.2rem;
}

/*Faqs*/

.faqs{
    margin-top: 5rem;
}

/*Footer*/
.footer__container{
    grid-template-columns: 1fr;
    text-align: center;
}
.footer__logo{
  align-self: center;
  justify-content: center;
}

.footer__1 p{
    margin: 1rem auto;
}

.footer__socials{
    justify-content: center;
}
    
 }



 .contactp{
    text-align: start !important;
 }


 












